<div class="header">
    <div class="container h-100">

        <div class="row h-100 align-items-end g-0">


            <div class="col-12 col-sm-auto">
                <label class="display-1">InstaReader</label>
            </div>


            <div class="col-auto">
                <label class="lead">BY TONY BASSO</label>
            </div>
            
            
            <div class="col-auto">
                <a href="https://gitlab.com/tony.basso33/instareader">
                    <img src="/assets/img/gitlab.svg" alt="gitlab icon">
                </a>


            </div>
        </div>

    </div>
</div>
