.header{
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    height: 100px;

    h1{
        display: inline;
    }
    
    .display-1{
        margin: 0;
        font-weight: 300;
    }

    .lead{
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 15px;
    }

    .active{
        filter: drop-shadow(0px 0px 6px rgb(0 0 0 / 1));
    }

    img{
        width: 30px;
        height: 100%;
        transition: 0.1s;
    }

    .gitlab{
        float:left;
        margin-right:10px;
        margin-left: 5px;
        margin-bottom: 15px;

    }


    img:hover{
        transform:scale(1.2);
        cursor: pointer;
    }
}