$bgColor: #fff1ea;
$cardColor: white;
$cardColor3: #ffd3c0;
$cardColor2: #ffc0d2;

$purple: #390a75;
$lightpurple: #967bb5;

$filtersBgColor: rgb(233, 233, 233);
$headerColor: #a59dec;

$baseFontSize: 16px;

$n1:#ada0e1;
$n2:#c3abdd;
$n3:#d9b6da;


$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


.main{
    
    font-size: $baseFontSize;

    .front{
        background: #9796f0;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        min-height: 100vh;
        padding-bottom:  40px;

        .entries{

            label{
                font-size: 1rem;
            }

            small{
                font-size: 0.8rem;
            }

            a{
                transition: 0.1s;
            }
            a:hover{
                background-color: rgb(222, 245, 252);
                border-radius: 5px;
            }

            color: black;
            
            .panel{
                .n1{
                    color: $headerColor;
                }

                .n2{
                    color: $lightpurple;

                }

                .n3{
                    color: $cardColor2;

                }                    
                .display-1{
                    font-weight: 300;
                    padding-right: 30px;
                    margin:0;
                }

                .display-2{
                    color: #212529;

                    font-size: calc(1vw + 3rem);
                }

                margin-top: 20px;
                padding: 25px;

                background-color: $cardColor;
                border-radius: 30px;
                box-shadow: 0 5px 10px rgba(73, 73, 73, 0.05), 0 15px 40px rgba(122, 122, 122, 0.2);            
            }
    
            .btn{
                margin-top:  40px;
                background-color: black;
                color: white;
                border-radius: 50px;
                padding: 10px;
                padding-left: 150px;
                padding-right: 150px;
    
                font-size: 1.5rem;
                transition: 0.1s;

                &:hover{
                    transform: scale(1.05);
                }
            }
        }
    
    }
    
    .results{
        display: none;
        overflow:hidden;
        background-color: #f1dfd1;
        background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);       
        padding-top: 30px;
        min-height: 100vh;
        padding-bottom: 80px;


        .results-container{
            border-radius: 30px;
            box-shadow: 0 5px 10px rgba(73, 73, 73, 0.05), 0 15px 40px rgba(122, 122, 122, 0.2);
        }

        .header{
            
            font-size: 2rem;
            background-color: $headerColor;
            padding-top:20px;
            padding-bottom:20px;
            @media (max-width: $md) { 
                h1{
                    font-size: 1.2rem;

                }
            }

        }

        .footer{
            background-color: $filtersBgColor;
            padding-top:20px;
            padding-bottom:20px;
        }

        .line{
            font-size: 1.2rem;
            background-color: whitesmoke;
            min-height: 50px;
            border-left: 1px solid rgb(228, 228, 228);
        }

        .words{
            font-weight: bold;

            .line{
                background-color: $filtersBgColor;
            }
            @media (min-width: $md) { 

                .header{
                    border-top-left-radius: 30px;

                }

                .footer{
                    border-bottom-left-radius: 30px;

                }
            }
        }

        

        .counts{

            @media (min-width: $md) { 
                &:last-child{
                    .header{
                        border-top-right-radius: 30px;
                    }

                    .footer{
                        border-bottom-right-radius: 30px;

                    }
                }
            }
        }

        hr {
            border-top: thin solid black;
            margin: 0;
            padding: 0;
        }       



        .msg{

            .right{
                background-color: $lightpurple !important;
            }

            margin-top: 10px;
            padding: 15px 20px;
            font-size: 14px;
            background-color: rgb(255, 255, 255);
            border-radius: 20px;
            .author{
                font-weight: bold;
                font-size: 18px;
            }

            .message{
                font-size: 24px;
            }
        }
    }

    
}