<div class="main">
    <div class="front h-100">

        <app-header></app-header>
        <div class="entries h-100">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col">

                        <div class="row justify-content-center">
                            <div class="col ">
                                <div class="d-flex  panel info">
                                    <div class="col-3 text-center">
                                        <h2 class="display-2">1.</h2>
                                    </div>
                                    <div class="col-9 justify-content-center align-self-center lead">
                                        <p>{{text["entries_1_text"]}} <a href="https://www.instagram.com/download/request/" target="_blank">Instagram</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="d-flex panel upload">
                                    <div class="col-3 text-center">
                                        <h2 class="display-2">2.</h2>
                                    </div>
                                    <div class="col-7 justify-content-center">
                                        <div class="form-group">
                                            <label class="labelFor lead" for="upload">{{text["entries_2_text"]}}</label>
                                            <input type="file" class="form-control my-1" id="upload" multiple  (change)="setJson($event)">
                                            
                                            <small class="form-text text-muted">
                                                {{text["entries_2_help"]}}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-end">
                            <div class="col">
                                <div class="d-flex panel filters">
                                    <div class="col-3 text-center">
                                        <h2 class="display-2">3.</h2>
                                    </div>

                                    <div class="col-7 justify-content-center">
                                        <div class="form-group">
                                            <label class="labelFor lead" for="filter">{{text["entries_3_text"]}}</label>
                                            <input type="text" class="form-control" id="filter"
                                                [(ngModel)]="filtersInput" placeholder="{{text['entries_3_placeholder']}}"  >
                                            <small class="form-text text-muted">
                                                {{text["entries_3_help"]}}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-center">
                                <button class="btn" (click)="doParsing()">{{text["button_go"]}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
        
            
    <div class="results" id="results">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-2">{{text["results_title"]}}</h1>
                </div>
            </div>
            <div class="row results-container">
                <div class="col-3 words">
                    <div class="row header align-items-center"><div class="col text-center"><h1>{{text["results_filters"]}}</h1></div></div>
                    <div class="row line text-center align-items-center" *ngFor="let filter of sortFiltersArray(filters)">
                        <hr *ngIf="filter != sortFiltersArray(filters)[0]">
                        <div class="col">
                            {{filter}}
                        </div>
                    </div>
                    <div class="row footer"> </div>

                </div>
                <div class="col counts" *ngFor="let user of results">
                    <div class="row header text-center"><div class="col"><h1>{{user.name}}</h1></div></div>
                    <div class="row counts line text-center align-items-center"  *ngFor="let word of sortFiltersObject(user.words)">
                        <hr *ngIf="word != sortFiltersObject(user.words)[0]">
                        <div class="col">
                            {{word.count}}
                        </div>
                    </div>
                    <div class="row footer"> </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>

</div>