
<div class="container">
    
    <h1 class="display-1">InstaReader</h1>
    <div class="entries">
    <div class="row upload ">
        <div class="col-3 text-center">
            <h2 class="display-2">1.</h2>
        </div>
        <div class="col-6 justify-content-center">
            <div class="form-group">
                <label class="labelFor" for="upload">Choose your file</label>
                <input type="file" class="form-control my-1" id="upload" (change)="loadJson($event)">
            </div>
        </div>
    </div>

    <div class="row filters">
        <div class="col-3 text-center">
            <h2 class="display-2">2.</h2>
        </div>
        <div class="col-6 justify-content-center">
            <div class="form-group">
                <label class="labelFor" for="filter">Choose your filters</label>
                <input type="text" class="form-control" id="filter" placeholder="A word, another, word, etc...">
            </div>
        </div>
    </div>
</div>
    <div class="row results" *ngIf="uploaded==true">
        <div class="col justify-content-center text-center">
            <h1>Results</h1>
            <div class="row">
                <div class="col" *ngFor="let user of results">
                    <div class="row">
                        <div class="col-12">
                            <div class="userTitle">
                                <h2>{{user.name}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center userFilters">
                        <div class="col-10 no-gutters">
                            <div class="row" *ngFor="let word of user.words">
                                <hr />
                                <div class="col">
                                    <p>{{word.name}}: {{word.count}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>