/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';

html{
    height: 100%;
}
 body{
    height: 100%;

    background: #9796f0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}