/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}