<div class="container">

    <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                    <label for="upload" class="custom-file-label" for="customFile">Choose file</label><br>
                    <input type="file" class="custom-file-input my-1" id="upload"  (change)="loadJson($event)">
                </div>

                <div class="form-group">
                    <button class="btn btn-danger my-2">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
